{#
Template for a single movie card
#}

{% set release_date = fields.field_release_date.content|striptags|date('Y-m-d') %}

<div class="movie-card js-movie-card" data-bs-toggle="modal" data-bs-target="#movieModal"
  data-title="{{ fields.title.content|striptags }}" data-image="{{ fields.field_image_1.content|striptags }}"
  data-link="{{ fields.view_node.content|striptags }}"
  data-date="{{ fields.field_release_date.content|striptags|date('Y') }}"
  data-description="{{ fields.field_description.content|striptags }}"
  data-genre="{{ fields.field_genre.content|striptags }}"
  data-subgenre="{{ fields.field_sub_genre.content|striptags }}">

  <div class="movie-card__image">
    {{ fields.field_image.content }}
  </div>

  <div class="movie-card__content">
    <h3 class="movie-card__title">
      {{ fields.title.content }}
    </h3>

    <div class="movie-card__date">
      <div class="movie-card__day">{{ release_date|date("d") }}</div>
      <div class="movie-card__month">{{ release_date|date("F")|title }}</div>
    </div>

    <div class="movie-card__premiere">
      {{ fields.field_premiere.content }}
    </div>

    <div class="movie-card__time">
      {{ release_date|date("gA") }}
    </div>
  </div>
</div>

{# Structure for Modal #}
<div class="modal fade movie-modal" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content movie-modal__content">
      <div class="modal-header movie-modal__header">
        <h2 class="modal-title movie-modal__title" id="movieModalLabel"></h2>
        <div class="movie-modal__details">
          <span class="movie-modal__date"></span>
          <span class="movie-modal__genres"></span>
        </div>
      </div>

      <div class="modal-body movie-modal__body">
        <p class="movie-modal__description"></p>
        <a href="#" class="movie-modal__link js-movie-link btn btn-outline-light" target="_blank" title="cta button"><i
            class="fa-solid fa-play"></i> {{ "Watch Trailer"|t() }}</a>
      </div>

      <ul class="movie-modal__actions">
        <li><a href="#" class="js-movie-link btn" title="cta button">
            <i class="fa-solid fa-heart"></i>
          </a></li>
        <li><a href="#" class="js-movie-link btn" title="cta button">
            <i class="fa-solid fa-comment"></i>
          </a></li>
        <li><a href="#" class="js-movie-link btn" title="cta button">
            <i class="fa-solid fa-share"></i>
          </a></li>
      </ul>

      <img class="movie-modal__bg js-movie-modal-bg img-fluid" src="" alt="Movie Background" width="900" height="450" title="modal bg image">

      {# Button to close modal #}
      <button type="button" class="btn-close btn-close-white movie-modal__close js-modal-close" data-bs-dismiss="modal"
        aria-label="Close"></button>
    </div>
  </div>
</div>
