{# Template for single movie banner #}

<div class="movie-banner">
  <div class="movie-banner__image">
    {{ fields.field_image.content }}
  </div>
  <div class="movie-banner__content d-flex flex-column align-items-center">
    <div class="movie-banner__description">
      {{ fields.field_description.content }}
    </div>
    <div class="movie-banner__title">
      {{ fields.title.content }}
    </div>
    <a href="{{ path('entity.node.canonical', {'node': row._entity.id()}) }}" class="movie-banner__cta btn btn-outline-light btn-lg mt-4" title="cta button">
      {{ "Tell Me More"|t() }}
    </a>
  </div>
</div>
